@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
}

html {
    filter: saturate(200%);
    min-height: 720px;
    min-width: 680px;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
}

canvas {
    background-color: #ffffff;
    left: 0;
    filter: blur(1px) saturate(0.25);
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;
}

#container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#wrapper {
    margin-left: 120px;
    margin-right: 120px;
    max-width: 650px;
}

.text-box_intro {
    margin-top: -10px;
    margin-left: 50px;
    color: #525252;
}

.text-box_intro .text_hi {
    font-size: 4rem;
    font-weight: 400;
}

.text-box_intro .text_im {
    font-size: 2.5rem;
    font-weight: 400;
}

.text-box_name {
    font-size: 4.5rem;
    margin-top: -20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #c96666;
}

.text-box_name .text_jason {
    font-weight: 700;
}

.text-box_name .text_ilicic {
    font-weight: 400;
}

.text-box_desc {
    font-size: 1.5rem;
    margin-left: 25px;
    color: #757575;
}

.text-box_desc .text_title {
    font-weight: 600;
}

.text-box_desc .text_blurb {
    font-weight: 400;
    margin-top: 20px;
}

.text-box_desc .text_hello {
    font-weight: 300;
    margin-top: 20px;
}

#footer {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 45px;
    margin-left: 145px;
    color: #313131;
}
