.icon-box {
    margin-top: 35px;
    margin-left: 25px;
}

.icon-box span {
    margin-right: 10px;
}

.icon-box i {
    border-radius: 3rem;
    color: #fff;
    font-size: 2.1rem;
    line-height: 3rem;
    height: 3rem;
    padding: 0.4rem;
    width: 3rem;
    text-align: center;
    transform: scale(1.0);
    transition: all 100ms ease-in-out;
    vertical-align: middle;
}

/*.icon-box i:hover {*/
/*    -webkit-animation: icon_pulse 2s normal infinite;*/
/*}*/

.icon-box i:hover {
    animation: icon_pulse 3s linear infinite;
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
}

@-webkit-keyframes icon_pulse {
    0% {
        filter: saturate(1);
    }

    50% {
        filter: saturate(0.1);
    }
}

.icon-box .icon_gitlab i {
    background: #e24329;
}

.icon-box .icon_linkedin i {
    background: #0097bd;
}

.icon-box .icon_mail i {
    background: #099200;
}

.icon-box .icon_stackoverflow i {
    background: #f48024;
}
